* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font-family: 'source sans pro';
    
    
  }

  .container {
    background-image: url(images/Object.png);
    background-size: cover;
    background-position: center;
  }
  
  .mast {
    padding: 25px 20px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlinks {
    list-style-type: none;
    display: flex;
  }
  
  .navlinks li {
    margin-right: 50px;
  }
  
    .navlinks a {
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 12px;
  }
  
  .navlinks a:hover {
    color: #C271FF;
  }
  
  /*
  Flexbox: The .navbar uses display: flex to align the logo and navigation links horizontally.
  justify-content: space-between; is used to place the logo on the left and the navigation links on the right.
  align-items: center; ensures both the logo and the links are vertically aligned.
  The .nav-links list items (li) are spaced with margin-left to spread them out.
  Hover effects (:hover) are applied to the navigation links to enhance interactivity.
  */

.schooled {
    text-align: center;
    padding-top: 8%;
  }

  .schooled h1 {
    color: white;
    font-style: bold;
    font-size: 120px;
  }

  .schooled span {
    margin-right: 40px;
    color: white;
  }

  .schooled button {
    margin-top: 2%;
  }

  .button {
    border: none;
    display: block;
    background-color: #C271FF;
    color: white;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
  
    }

    .learn {
      padding-top: 11%;
    }

    .l_h2 {
        color: white;
        text-align: center;
        font-size: 32px;
    }

    .highlight {
        font-weight: bold;
        color: #C271FF; /* You can change this color to any other you prefer */
      }

      .learn_img {
        width: 70%;
        padding-top: 7%;
        padding-bottom: 7%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;     /* Centers vertically */
        text-align: center;
        color: white;
        
        
      }

      .img_ph {
        #padding: 50px;
      }

      .img_ph img {
        border-radius: 50%;
      }

      .img_ph h3 {
        font-family: 18px;
        font-weight: bold;
        color:white;
      }                            

      .img_ph p {
        font-family: 'source sans pro';
        font-size: 16px;
        font-style: italic;
      }

      /* End of Header */

      .weather_p {
        background-color: #C271FF;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
      }

      
      .weather_contain {
        width: 65%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;     /* Centers vertically */
        font-size: 22px;
        color:white; 
      }

      .weather_contain div  {
        padding-left: 50px;
      }

      .weather_p img {
        border-radius: 50%;
        
      }

      .weather_p h3 {
        font-weight: bold;
        padding-top: 20px;
      }

      .weather_p p {
        font-style: italic;
      }


/* popular section  begins here*/
.popular {
    padding-top: 7%;
    padding-bottom: 6%;

}

.popular h2 {
  text-align: center;
  padding-bottom: 5%;
}

.popular_ph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.popular_ph h3 {
  padding-top: 15px;
  padding-bottom: 5px;

}

.phillip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12px;
}

.phillip img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.phillip h4 {
  padding-left: 10px;
  color: #C271FF;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C271FF;
  padding-top: 8px;
}

.rating p {
  padding-right: 60px;
}

.free_membership {
  background-color: #071629;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 3%;
}

.membership {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-family: 'source sans pro';
  color:white;
  padding-top: 4%;
}

.membership h3 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.free_membership button {
  margin-top: 6%;
}

 .faq {
   width: 60%;
   margin: auto;
   padding-top: 4%;
   padding-bottom: 8%;
  }

 .faq h2 {
  text-align: center;
  font-size: 60px;
}

.how_does {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8%;
}

.how_does h3 {
  font-size: 16px;
  font-weight: bold;
}

.how_does div {
  padding-right: 30px;
}

.how_does p {
  padding-top: 7%;
  font-size: 15px;
  color: #9DA0A3 ;
}

footer {
  background-color: #071629;
  color: white;
  padding-top: 6%;
  padding-bottom: 2%;
}

.footer_h {
  width: 70%;
  margin: auto;
  text-align: center;
}

.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_h p {
  font-size: 12px;
  padding-top: 6%;
  color: #9DA0A3;
}



